@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Ribeye&family=Hachi+Maru+Pop&family=Cherry+Swash&family=Chilanka&family=Delius&display=swap');

:root {
    --yellow: #fedd81;
    --font-yellow: #0000007a;
    --border-yellow: #FFD600;
    --hover-yellow: #fcd977;
    --active-yellow: #fed76d;
    --blue: #B4F6FF;
    --font-blue: #009CB2;
    --font-dark-blue: #145b6d;
    --border-blue: #B9FFF7;
    --hover-blue: #a1ebf5; /* Slightly darker for hover effect */
    --active-blue: #8de4ef; /* Even darker for click effect */
    --shadow-color: #00000036;
}

body {
    background-color: var(--yellow);
    margin: 0px;
    min-width: 100vw;
    min-height: 100vh;
}

.main {
    scroll-snap-type: y mandatory;	
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

.page {
    display: grid;
    grid-template-rows: 20px 1fr;
    justify-items: center;
    align-items: start;
    gap: 50px;
    max-width: 100%;
    min-height: 100vh;

  }

.page > *:only-child {
grid-row: 2 / 2; /* Place the only child in the second row */
}


form {
    background-color: #8de4ef;
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: min(500px, 80%);
    padding: min(7vw, 40px);
    margin-bottom: 40px;
    box-sizing: border-box;
    border: solid 10px white;
    border-radius: 8px;
    box-shadow: 
        0 4px 6px rgba(0, 0, 0, 0.1),
        6px 7px 0px 3px var(--shadow-color),
        0 0 0 1px var(--shadow-color);
}

form p {
    font-family: Delius;
    padding: 10px;
    font-size: 16px;
    border: solid 7px var(--blue);
    border-radius: 4px;
    background: #ffffff24;
    margin: 0px;
}

form input {
    font-family: Delius;
    padding: 10px;
    font-size: 16px;
    border: solid 7px var(--blue);
    border-radius: 4px;
    outline-color: white;
}

form label {
    margin-top: 12px;
    font-family: Chilanka;
    font-size: 16px;
    color: #000000;
}

form button {
    min-height: 65px;
    max-width: none;
    width: 90%;
    padding: 20px;
    margin: 25px;
    margin-inline: auto;
}

h2 {
    color: var(--font-dark-blue);
    font-family: 'Delius Swash Caps', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: min(6vw, 1.4rem);
    background: var(--blue);
    border-radius: 16px;
    border: solid #ffffff75 6px;
    padding: min(3vw, 9px);
    margin: min(2vw, 100px);
}


row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    place-items: center;
    /* width: 80%; */
}

button {
    height: 80px;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: var(--blue);
    color: var(--font-blue);
    font-family: 'Cherry Swash', sans-serif;
    font-size: 1.25rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow:  
        0 0 0 3px white,
        9px 12px 0px 12px var(--shadow-color),
        1px 3px 0 7px var(--border-blue),
        1px 3px 0 8px var(--shadow-color);
    transition:
        background-color 150ms cubic-bezier(0, 0, 0.58, 1),
        transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button:hover {
    background-color: var(--hover-blue);
    transform: translate(0, 2px);
    box-shadow: 
        0 0 0 3px white,
        7px 10px 0px 10px var(--shadow-color),
        1px 3px 0 7px var(--border-blue),
        1px 3px 0 8px var(--shadow-color);
}

button:active {
    background-color: var(--active-blue);
    transform: translate(0, 5px);
    box-shadow:
        0 0 0 3px white,
        5px 7px 0px 8px var(--shadow-color),
        1px 3px 0 7px var(--border-blue),
        1px 3px 0 8px var(--shadow-color);
}

.back-button {
    color: white;
    font-size: 5rem;
    box-shadow: none;
    background-color: transparent;
    transform: none;
    min-width: 0;
    min-height: 0;
}

.back-button:hover {
    background-color: transparent;
    box-shadow:none
}

.back-button:active {
    background-color: transparent;
    box-shadow:none
}

ul {
    list-style: none;
}
