@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Chilanka&family=Delius&display=swap');


:root {
    --blue: #B4F6FF;
    --hover-blue: #08daf6; /* Slightly darker for hover effect */
    --active-blue: rgb(9, 214, 241); /* Even darker for click effect */
    --font-blue: #009CB2;
    --pink: #F3C2FF;
    --border-color: #B9FFF7;
    --shadow-color: #00000036;
    --border-highlight: #ffffff;
}

body {
    background-color: #FFEC89;
    width: 100vw;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


button {
    min-height: 120px;
    max-width: 50%;
    padding: 20px;
    background-color: var(--blue);
    color: var(--font-blue);
    font-family: 'Cherry Swash', sans-serif;
    font-size: 1.25rem;
    border: none;
    border-radius: 50px;
    box-shadow: 4px 15px 0px 0px var(--shadow-color), 0 0 0 3px var(--border-highlight), 1px 3px 0 7px var(--border-color);
    cursor: pointer;
    transition: background-color 150ms cubic-bezier(0, 0, 0.58, 1), transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button:hover {
    background-color: var(--hover-blue);
    transform: translate(0, 2px);
    box-shadow: 3px 12px 0px 0px var(--shadow-color), 0 0 0 3px var(--border-highlight), 1px 2px 0 7px var(--border-color);
}

button:active {
    background-color: var(--active-blue);
    transform: translate(0, 5px);
    box-shadow: 2px 5px 0px 0px var(--shadow-color), 0 0 0 3px var(--border-highlight), 1px 0px 0 7px var(--border-color);
}

ul {
    list-style: none;
}

.pink {
    width: 300px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    background-color: var(--pink);
    color: white;
    font-family: 'Chilanka', sans-serif;
    font-size: 1.7rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
    padding: 10px;
    border: solid 10px white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input {
    font-family: Delius;
    padding: 10px;
    font-size: 16px;
    border:  solid 7px #FFD600;
    border-radius: 4px;
    outline-color: #495057;
}

input:focus {
    /* border-color: #ffbb00; */
    /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); */
}

label {
    font-family: Chilanka;
    font-size: 16px;
    color: #495057;
}