@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Chilanka&family=Delius&display=swap');


:root {
    --blue: #B4F6FF;
    --font-blue: #009CB2;
    --border-blue: #B9FFF7;
    --hover-blue: #a1ebf5; /* Slightly darker for hover effect */
    --active-blue: #98ebf6; /* Even darker for click effect */
    --pink: #fcd1fd;
    --font-pink: #8c2a8e;
    --border-pink: #fcd1fd;
    --hover-pink: #fec9ff;
    --active-pink: #fbbefc;
    --shadow-color: #00000036;
    --border-highlight: #ffffff;
}

body {
    background-color: #FFEC89;
    width: 100vw;
    margin: 0px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


button {
    min-height: 120px;
    max-width: 80%;
    padding: 20px;
    background-color: var(--blue);
    color: var(--font-blue);
    font-family: 'Cherry Swash', sans-serif;
    font-size: 1.25rem;
    border: none;
    border-radius: 50px;
    box-shadow: 4px 15px 0px 0px var(--shadow-color), 0 0 0 3px var(--border-highlight), 1px 3px 0 7px var(--border-blue);
    cursor: pointer;
    transition: background-color 150ms cubic-bezier(0, 0, 0.58, 1), transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button:hover {
    background-color: var(--hover-blue);
    transform: translate(0, 2px);
    box-shadow: 3px 12px 0px 0px var(--shadow-color), 0 0 0 3px var(--border-highlight), 1px 2px 0 7px var(--border-blue);
}

button:active {
    background-color: var(--active-blue);
    transform: translate(0, 5px);
    box-shadow: 2px 5px 0px 0px var(--shadow-color), 0 0 0 3px var(--border-highlight), 1px 0px 0 7px var(--border-blue);
}

ul {
    list-style: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0px;
    min-width: 50%;
    max-width: 90%;
    margin: auto;
    padding: 20px;
    border: solid 10px white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form p {
    font-family: Delius;
    padding: 10px;
    font-size: 16px;
    border:  solid 7px #FFD600;
    border-radius: 4px;
    background: #98ebf600;
    margin: 0px;
}

form input {
    font-family: Delius;
    padding: 10px;
    font-size: 16px;
    border:  solid 7px #FFD600;
    border-radius: 4px;
    outline-color: #ffffff;
}

form input:focus {
    /* border-blue: #ffbb00; */
    /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); */
}

form label {
    margin-top: 12px;
    font-family: Chilanka;
    font-size: 16px;
    color: #495057;
}

form button {
    min-height: 65px;
    max-width: none;
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    background-color: var(--pink);
    box-shadow: 4px 15px 0px 0px var(--shadow-color), 0 0 0 3px var(--border-highlight), 1px 3px 0 7px var(--border-pink);
    color: white;
    font-family: 'Chilanka', sans-serif;
    font-size: 1.7rem;
}

form button:hover {
    background-color: var(--hover-pink);
    box-shadow: 3px 12px 0px 0px var(--shadow-color), 0 0 0 3px var(--border-highlight), 1px 2px 0 7px var(--border-pink);

}

form button:active {
    background-color: var(--active-pink);
    box-shadow: 2px 5px 0px 0px var(--shadow-color), 0 0 0 3px var(--border-highlight), 1px 0px 0 7px var(--border-pink);

}